$green: hsl(171, 66%, 44%);
$blue: hsl(233, 100%, 69%);

$lightGrey: hsl(201, 11%, 66%);
$darkGrey: hsl(210, 10%, 33%);

$white: #ffffff;

$footer-bg: #f5f6f8;

$fs-basic: 1.125rem; // 18px

$line-h: 1.5;

$small-screen: 35.438rem; // 567px
$large-screen: 41.25rem; // 660px
$larger-screen: 56.25rem; // 900px
